@import "../../style/global";

.Streaks {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-content: stretch;

    @media only screen and (min-width: map-get($screen_sizes, "tablet")) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media only screen and (min-width: map-get($screen_sizes, "desktop")) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
