@import "../../style/global";
@import "../../style/forms";

.CreateStreak {
  padding: map-get($spacings, "medium");

  @media only screen and (min-width: map-get($screen_sizes, "tablet")) {
    width: 25rem;
    margin: 0 auto;
  }
}
