@import "../../style/global";
@import "../../style/forms";

.CreateStreak {
  padding: map-get($spacings, "medium");

  @media only screen and (min-width: $tablet-width) {
    width: 25rem;
    margin: 0 auto;
  }
}
