@import "../../style/global";
@import "../../style/colors";

.Streak {
  @include momentum-border;
  @include momentum-bevel;
  padding: map-get($spacings, "small") map-get($spacings, "medium");
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: map-get($spacings, "tiny");
  }

  &__icon {
    cursor: pointer;
    padding: map-get($spacings, "tiny");

    &--delete {
      &:hover {
        color: map-get($colors, "danger");
      }
    }

    &--share {
      &:hover {
        color: map-get($colors, "secondary");
      }
    }
  }

  &__title {
    font-size: map-get($font_sizes, "large");
    margin-bottom: map-get($spacings, "tiny");
    color: map-get($colors, "success");

    .Streak--inactive & {
      color: map-get($colors, "primary");
    }
  }

  &__motivation {
    font-size: map-get($font_sizes, "medium");
    margin-bottom: map-get($spacings, "small");
  }

  &__list {
    margin-bottom: map-get($spacings, "small");
  }

  &__list-item {
    display: flex;
    align-items: center;
    padding: map-get($spacings, "tiny") 0;
    border-bottom: 1px dashed map-get($colors, "grandma");

    &:first-child {
      border-top: 1px dashed map-get($colors, "grandma");
    }
  }

  &__list-item__icon {
    flex-shrink: 0;
    padding: map-get($spacings, "tiny");
  }

  &__notification {
    font-size: map-get($font_sizes, "small");
    margin-bottom: map-get($spacings, "small");
    color: map-get($colors, "success");

    .Streak--inactive & {
      color: map-get($colors, "primary");
    }
  }

  &__body {
    flex-grow: 1;
  }

  &__countdown {
    font-size: map-get($font_sizes, "medium");
    color: map-get($colors, "grandma");
    letter-spacing: 0.35rem;
    text-align: center;
  }

  &__counter {
    font-size: map-get($font_sizes, "huge");
    color: map-get($colors, "success");
    text-align: center;

    .Streak--inactive & {
      color: map-get($colors, "primary");
    }
  }

  &__footer {
    text-align: center;
  }

  &--inactive {
    opacity: 0.618;
    transition: opacity 0.3s ease-in-out;
  }

  &--inactive:hover {
    opacity: 1;
  }
}
