@import "../../style/global";
@import "../../style/colors";

.streak {
  @include momentum-border;
  @include momentum-bevel;
  text-align: center;
  padding: 1rem 1.618rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18rem;
  color: map-get($colors, "batman");

  &__header {
    text-align: left;
    margin-bottom: map-get($spacings, "tiny");
  }

  &__icon {
    cursor: pointer;
    display: inline;
    margin-right: map-get($spacings, "tiny");

    &:hover {
      color: map-get($colors, "ocean");
    }
  }

  &__title {
    font-size: map-get($font_sizes, "large");
    margin-bottom: map-get($spacings, "small");
  }

  &__motivation {
    font-size: map-get($font_sizes, "medium");
    margin-bottom: map-get($spacings, "small");
  }

  &__interval {
    font-size: map-get($font_sizes, "medium");
    margin-bottom: map-get($spacings, "small");
    color: map-get($colors, "success");
  }

  &__notification {
    color: map-get($colors, "secondary");
    margin-bottom: map-get($spacings, "small");
    flex-grow: 1;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
  }

  &__countdown {
    font-size: map-get($font_sizes, "large");
  }

  &__counter {
    font-size: map-get($font_sizes, "huge");
    color: map-get($colors, "success");
  }
}
