@import '../../style/global';

.HomePage {
    @include momentum-border;
    padding: map-get($spacings, 'small') map-get($spacings, 'medium');

    &__title {
        margin-bottom: map-get($spacings, 'tiny');
        color: map-get($colors, 'primary');
    }

    &__subtitle {
        margin-bottom: map-get($spacings, 'tiny');
        color: map-get($colors, 'batman');
    }
}
