$colors: (
    primary: #173f5f,
    secondary: #20639b,
    success: #78be20,
    action: #ffcd00,
    danger: #db3f28,
    ocean: #235390,
    parrot: #295a01,
    eggplant: #594157,
    glaucous: #7d8cc4,
    banana: #d5ac4e,
    cherry: #720e07,
    batman: #242424,
    grandma: #dedede,
);
